
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cabecalho{
  border: 1px solid black;
  border-radius: 25px;
  padding: 30px;
  margin: 30px;
  margin-bottom: 0px;
}

.form{
  border: 1px solid black;
  border-radius: 25px;
  padding: 30px;
  margin: 30px;
  margin-top: 10px;
}

section{
  line-height: 2;
}

section .input-texto {
  font-size: 16px;
  padding: 5px;
  width: 100%;
  border-radius: 10px;
}

p{
  margin-top: 10px;
}

#input-text{
  margin-bottom: 10px;
}

button{
  font-size: 16px;
  padding: 5px;
  width: 100%;
  margin: 3px;
}

section #input-date{
  padding: 5px;
}

