ol{
    background-color: gold;
    width: 80%;
}
ol li:nth-child(odd){
    color: green;
}
ol li:nth-child(even){
    text-transform: uppercase;
}
li{
    font-size: 20px;
}
li em{
    font-weight: bold;
}
h1, h3{
    color: red;
}
h1 em{
    font-size: 40px;
    border: 1px solid black;
}
.linguagem li:nth-child(-n + 3) {
    color: blue;
}
li:hover .stackoverflow{
    color: orange;
    font-weight: bold;
    font-family: ;
}
li:hover .MDN-Web-Docs{
    color: black;
    font-weight: bold;
}
li:hover .W3Schools{
    color: green;
    font-weight: bold;
}
li:hover .devdocs{
    color: yellow;
    font-weight: bold;
}
li:hover .trybe{
    color: green;
    font-weight: bold;
}
